{% extends "base.html" %}

{% block content %}

{% include "partials/_messages.html" %}

{% if product_list %}
<div class="container">
    <div class="row">
        {% for product in product_list %}
        <div class="col-4 mt-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{product.title}}</h3>
                    <p class="card-text">{{product.description}}
                    </p>
                    <h5 class="card-text">Price: ${{product.price}}</h5>
                    {% if product in current_order_products %}
                    <a href="{% url 'cart-view' %}" class="btn btn-warning">Move to Cart</a>
                    {% elif product in request.user.profile.items.all %}
                    <p class="text-muted">You already own this item</p>
                    {% else %}
                    <a href="{% url 'add-to-cart' product.id %}" class="btn btn-success">Add to cart</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}